{
  "extends": [
    "opencollective",
    "plugin:jest/recommended"
  ],
  "plugins": [
    "jest"
  ],
  "env": {
    "jest/globals": true
  },
  "rules": {
    // we still use console even on frontend
    "no-console": 0
  }
}
